body {
    font-size: 12px;
    color: #5B5755;
}

#page {
	background-color: #f1f1f1;
}

h1 {
	color: #851348;
	text-transform: uppercase;
}

h2 {
	text-transform: uppercase;
	font-size: 18px;
}

header {
    border-bottom: 1px solid #5B5755;
    border-top: 1px solid #5B5755;  
    margin: 3rem -15px auto -15px;
}

.quote-wrapper {
	display: table;
	width: 100%;
	background-color: #fff;
	height: 502px;
}

blockquote {
    border: none;
    quotes: "\"" "\"";
}

blockquote p:before, blockquote p:after {
    content:open-quote;
}

.class-banner blockquote {
    display: table-cell;
    vertical-align: middle;
}

.quote-name, .quote-title {
	font-size: 14px;
}

.quote-name {
	text-transform: uppercase;
}

.quote-title {
	font-style: italic;
}

#logo {
    margin: 10px 15px 10px 15px;
}

#logo a {
    background:url(../images/hials-logo-no.svg) no-repeat;
    overflow: hidden;
    text-indent: -999em;
    white-space: nowrap;
    border: 0px none;
    display:block;
    width: auto;
    height: 55px;	
    padding-top: 15px;
    padding-bottom:15px;
}

aside {
    padding: 8px;
}

.boks {
    display: table;
    height: 18rem;
    border-spacing: 8px;
    padding: 0;
}

.call-to-action {
    display: table;
    height: 18rem;
    width:100%;
}

.boks-white {
    background-color: #fff;
    display: table-cell;
    padding: 15px 15px 5px 15px;
}

.boks-gray {
    background-color: #5B5755;
    color: #fff;
    display: table-cell;
    padding: 15px 15px 5px 15px;
}

.boks-yellow {
    background-color: #FDED00;
    color:#5B5755;
}

.boks-white h3, .boks-gray h3 {
    margin-top:0;
}

.boks dl dt {
    float: left;
    margin-right: 0.25em;
}

.boks dl dt:after {
    content: ':';
}

.boks dl dd p {
    display: inline;
}

.call-to-action a {
    font-size: 2.4rem;
    font-weight: bold;
    text-transform: uppercase;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: inherit;
}

.intro {
	font-style:italic;
}

.navbar {
	border-radius: none;
}

.navbar #hials-extra-nav {
	font-size: 75%;
}

form.dropdown-menu {
	padding: 5px 5px;
}

.navbar-nav > li > a {
	padding: 10px 10px;
	line-height: inherit;
}