body {
	font-family: 'Roboto', sans-serif;
    color: #333;
}

#page {
	background-color: #f1f1f1;
}

main {
	padding-top: 15px;
}

/* no top padding if breadcrumb is showing */
.breadcrumb-wrapper ~ main {
	padding-top: 0;
}

.row-wrapper > * {
    padding-top: 15px;
    padding-bottom: 15px;
}

h1, .h1 {
	color: #7C1850;
	text-transform: uppercase;
	margin-bottom: 20px;
}

h2, .h2 {
	text-transform: uppercase;
	font-size: 20px;
}

h2.front {
	font-weight: 900
}

h3, .h3 {
	font-size: 20px;
}

.class-hials_utdanningstilbud h3, .class-hials_utdanningstilbud .h3, h4, .h4 {
	margin-bottom: 3px; 
	font-weight: 700; 
	text-transform: uppercase; 
	font-size: 14px;
	margin-top: 20px;
}

a {
	color: #003468;
	text-decoration: underline;
}

a:hover, a:focus {
	color: #004C99;
}

.pubisheddatecol {
	padding-top: 20px;
}

.pubisheddatecol time {
	color: #333;
	font-size: 36px;
	font-weight: 500;
	line-height: 1.1;
}

.intro {
	font-size: 16px;
}

.textcenter {
	text-align: center;
	vertical-align: middle;
}

.call-to-action, .textcenter {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8rem;
}

.call-to-action a, .textcenter a {
	color: #333;
}
	    
.bg-white {
    background-color: #fff;
}

.bg-lightgray {
    background-color: #f1f1f1;
}

.bg-gray {
    background-color: #ccc;
}

.bg-darkgray {
    background-color: #4D4D4D;
    color: #fff;
}

.bg-darkgray a {
	color: #fff;
}

.bg-darkgray a:hover, .bg-darkgray a:focus {
    color: #ccc;
}

.bg-yellow {
    background-color: #FDED00;
    color:#333;
}

.bg-red {
    background-color: #7C1850;
    color: #fff;
}

.bg-blue {
	background-color: #003468;
	color: #fff;
}

.articlemodified:after, .articlepublished:after {
    content: ':';
}

.sharebuttons {
    float: right;
}

.byline p {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 12px;
}

i.fa + * {
	margin-left: 3px;
}

label {
	margin-bottom: 0;
	font-weight: 500;
}

.nopadding {
    padding: 0;
}
    
blockquote {
    font-style:italic;
    font-size: 20px; font-size: 2rem;
    line-height: 1.5rem;
    border: none;
}

blockquote p {
    line-height: 1.42857143;
}

cite {
    font-size: 12px; font-size: 1.2rem;
}
.cite-name {
    text-transform:uppercase;
}

blockquote p:before {
    content:open-quote;
}
blockquote p:after {
    content:close-quote;
}

.height90 {
    height: 90px;
    min-height: 90px;
}

.height180 {
    height: 180px;
    min-height: 180px;
}

.highlighted {
    padding-top: 15px;
    /*padding-bottom: 15px;*/
}

@media (min-width: 768px) {
	.highlighted-image {
	    margin-left: -15px;
	    margin-right: 15px;
	}
}

.highlighted h2, .highlighted h2 a {
    font-size: 36px;
    text-transform: none;
    color: #333;
    margin-top: 10px;
    margin-bottom: 10px;
}

h2.teaser-title, h2.teaser-title a {
    text-transform: none;
    text-decoration: none;
    color: #333;
}

.teaser-image {
    margin-bottom: 15px;
}

.teaser-intro {
	margin-bottom: 15px;
}

.teaser-intro p {
    display: inline;
}

.teaser-intro time {
	font-weight: 700;
}

.teaser-intro > div {
display: inline;
}

.content-view-full.class-hials_portal_page .intro {
    padding-bottom: 2em;
}

.boks {
	/*word-break: break-all;*/
}

.boks dl dt {
    float: left;
    margin-right: 0.25em;
}

.boks dl dt:after {
    content: ':';
}

.boks dl dd p {
    display: inline;
}

.boks dl dd {
    margin-bottom: 3px;
}

.colspacing {
	border-spacing: 15px 0;
}

.rowspacing {
	padding-top: 15px;
}

/*************************************************/
/* columns of same height styles */

.container-xs-height {
    display:table;
    padding-left:0px;
    padding-right:0px;
    width: 100%;
    margin-bottom: 15px;
}
.row-xs-height {
    display:table-row;
}
.col-xs-height {
    display:table-cell;
    float:none;
}

.row-sm-height, .row-md-height, .row-lg-height {
    padding-left: 15px;
    padding-right: 15px;
}

.col-sm-height, .col-md-height, .col-lg-height {
    margin-bottom: 15px;
}

@media (min-width: 768px) {
    .container-sm-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
        width: 100%;
        margin-bottom: 15px;
    }
    .row-sm-height {
        display:table-row;
    }
    
    .col-sm-height {
        display:table-cell;
        float:none;
    }
    
    .col-md-height {
        margin-bottom: 15px;
    }
}
@media (min-width: 992px) {
    .container-md-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
        width: 100%;      
        margin-bottom: 15px;
}
    .row-md-height {
        display:table-row;
    }
    .col-md-height {
        display:table-cell;
        float:none;
    }
}
@media (min-width: 1200px) {
    .container-lg-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
        width: 100%;
        margin-bottom: 15px;
    }
    .row-lg-height {
        display:table-row;
    }
    .col-lg-height {
        display:table-cell;
        float:none;
    }
}

.wrapper .col-xs-6:first-child {
    border-right: 7.5px solid #f1f1f1;
}
.wrapper .col-xs-6:last-child {
    border-left: 7.5px solid #f1f1f1;
}

@media (min-width: 768px) {
    
    .wrapper {
        padding-left: 15px;
        padding-right: 15px;
    }
    .wrapper .col-sm-6:first-child {
        border-right: 7.5px solid #f1f1f1;
    }
    .wrapper .col-sm-6:last-child {
        border-left: 7.5px solid #f1f1f1;
    }
    .col-left {
        padding-right: 7.5px;
    }
    .col-right {
        padding-left: 7.5px;
    }
	
}

@media (min-width: 992px) {
    .wrapper .col-md-6:first-child {
        border-right: 7.5px solid #f1f1f1;
    }
    .wrapper .col-md-6:last-child {
        border-left: 7.5px solid #f1f1f1;
    }
    
    .col-left {
        padding-right: 7.5px;
    }
    .col-right {
        padding-left: 7.5px;
    }
}

@media (min-width: 1200px) {
    .wrapper .col-lg-6:first-child {
        border-right: 7.5px solid #f1f1f1;
    }
    .wrapper .col-lg-6:last-child {
        border-left: 7.5px solid #f1f1f1;
    }    

    .col-left {
        padding-right: 7.5px;
    }
    .col-right {
        padding-left: 7.5px;
    }
}

/* vertical alignment styles */
.col-top {
    vertical-align:top;
}
.col-middle {
    vertical-align:middle;
}
.col-bottom {
    vertical-align:bottom;
}

/* fix firefox responsive images */

.img-responsive {
    width: 100%
}

footer {
	padding-top: 2em;
	padding-bottom: 2em;
	border-top: 1px solid #ccc;
	margin-top: 4em;
}

footer .h-card p {
	margin: 0;
}

/*************************************************/
/*** FORSIDE *************************************/

.h1.front {
    font-weight: 900;
}

#fronttool a {
	text-decoration: none;
}

#fronttool a:hover, #fronttool a:focus {
    text-decoration: underline;
}

.toolmenu ul {
    list-style-type:none;
    padding-left:0;
}

article.headline {
    border-bottom: 1px solid #333;
}

article.headline h2.teaser-title {
    font-size: 28px;
}

.frontbanner figcaption {
    float: left;
    position: absolute;
    z-index: 2;
    top: 10%;
    font-size: 36px;
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    left: 10%;
}

.sr-only-focusable:active, .sr-only-focusable:focus {
	position: absolute;
	color: #fff;
    background: #333;
    border: 2px solid #ccc;
    padding: 10px 15px;
    z-index: 5;
}


/*************************************************/
/*** HEADER **************************************/

#quicklinks {
    background-color: #fff;
    font-size: 12px;
}

#quicklinks a {
	color: #333;
	text-decoration: none;
	padding: 8px 8px;
}

#quicklinks a:hover, #quicklinks a:focus {
	text-decoration: underline;
	background-color: transparent;
}

#quicklinks .navbar-nav {
    padding-top: 0;
    padding-bottom: 0;
}

nav#mainnav {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.navbar-brand {
    height: auto;
    padding-left: 0;
    padding: 10px 15px;
}

#logo {
    height: auto;
    width: 180px;
    margin:0;
}

/*************************************************/
/*** NAVBAR **************************************/

.navbar-nav > li > a {
    padding: 10px 10px;
    line-height: inherit;
}

@media (min-width: 768px) {
    .navbar-hials .navbar-nav {
        padding-top: 0px;
        padding-bottom: 0px;
        margin-left: 10%;
    }
    
    .navbar-hials .navbar-nav > li > a {
        padding: 17px 0;
    }
    
    .topmenuitem-wrapper {
        display:block;
        padding: 0 15px;
        border-left: 1px solid #ccc;
    }
    
    .navbar-hials .navbar-nav > li:last-child .topmenuitem-wrapper {
        border-right: 1px solid #ccc;
    }
}

.navbar-hials {
    background-color: transparent;
    border: none;
    border-radius: 0;
    margin-bottom: 0;
    font-weight: 700;
    letter-spacing: 0.05em;
    font-size: 14px;
}

.navbar-hials .nav > li a {
    color: #333;
    text-decoration: none;
}

.navbar-hials .nav > li > a:hover, .navbar-hials .nav > li > a:focus {
    /*background-color: #565656;
    color: #fff;*/
    text-decoration: underline;
}

.navbar-hials .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    /*background-color: #565656;
    color: #fff;*/
    color: #7C1850;
    text-decoration: underline;
}

.dropdown-menu {
    border: none;
    border-top: 1px solid #ccc;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: margin-top 0.5s linear;
    -moz-transiton: margin-top 0.5s linear;
    -o-transiton: margin-top 0.5s linear;
    transition: margin-top 0.5s linear;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: normal;
    padding: 0;
}

.dropdown-menu > li > a {
	text-decoration: none;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	text-decoration: underline;
	background-color: transparent;
}

.submenu > li, .hials-nav-pills > li {
    overflow: hidden;
    text-overflow: ellipsis;
}

ul.submenu {
    list-style-type: none;
    padding-left: 0;
    font-size: 13px;
}

.submenuhead {
    text-transform: uppercase;
    font-weight: 700;
}

.submenu > li > a {
    color: #333;
    text-decoration: none;
}

.submenu > li > a:hover,  .submenu > li > a:focus {
    text-decoration: underline;
}


@media (max-width: 767px) {

    .submenu > li > a {
        padding: 10px 10px;
        line-height: 20px;
        display: block;
        border-left: 5px solid #333;
        text-decoration: none;
    }
    
    .submenu > li:last-child {
        border-bottom: 1px solid #565656;
    }
    
    .submenu > li > a:hover, .submenu > li > a:focus {
        background-color: #565656;
        color: #fff;
        border-left: 5px solid #f1f1f1;
        text-decoration: none;
    }    
}

@media (min-width: 768px) {
	.submenu > li {
        margin-bottom: 5px;
    }
	
	.submenu {
	   padding: 10px 0;
	}
}

.directToMenu {
    background-color: #f1f1f1;
    padding: 10px 0;
    text-transform: uppercase;
}

.directToMenu a {
    font-weight: 700;
}

/*************************************************/
/*** TABLE ***************************************/

.table > tbody > tr > th, .table > tbody > tr > td {
	border: none;
}

/*************************************************/
/*** TABLE - DEFAULT *****************************/

table.default {
	background-color: #ccc;
	color: #333;
	width: 100%;
	margin-bottom: 10px;
}

table.default td, table.default th {
	padding: 0.5em;
	border-left: 2px solid #f1f1f1;
	border-right: 2px solid #f1f1f1;
} 

table.default th[scope=col] {
	border-bottom: 2px solid #f1f1f1;
	border-left: none;
	border-right: none;
	text-transform: uppercase;
} 

table.default th[scope=row] {
    border-right: 2px solid #f1f1f1;
    border-bottom: none;
    border-left: none;
    text-transform: uppercase;
}

table.default th[colspan] {
	text-align: center;
}

table.default td:first-child {
	border-left: none;
}

table.default td:last-child {
    border-right: none;
}

/*************************************************/
/*** TABLE - STRIPED *****************************/

.table-striped > tbody > tr:nth-child(odd) {
	background-color: #f1f1f1;
}

.table-striped > tbody > tr:nth-child(odd) > th, .table-striped > tbody > tr:nth-child(odd) > td {
    background-color: #f1f1f1;
}

.table-striped > tbody > tr:nth-child(even) {
    background-color: #fff;
} 

.table-striped > tbody > tr:nth-child(even) > th, .table-striped > tbody > tr:nth-child(even) > td {
    background-color: #fff;
} 

/*************************************************/
/**** BREADCRUMBS ********************************/

.breadcrumb {
	font-size: 12px;
	margin-bottom: 0;
    background: transparent;
    padding: 10px 15px;
}

.breadcrumb>li+li:before {
	content: '>';
}

.breadcrumb > .active {
	color: #7C1850;
	text-transform: uppercase;
	font-weight: 700; 
}

.breadcrumb a {
	color: #333;
	text-decoration: none;
}

.breadcrumb a:hover, .breadcrumb a:focus {
    text-decoration: underline;
}


/*************************************************/
/*** PILLS ***************************************/

.hials-nav-pills > li > a {
	border-radius: 0;
	background-color: #ccc;
	color: #333;
	text-transform: uppercase;
	font-weight: 700;
}

.hials-nav-pills > li.active > a, .hials-nav-pills > li.active > a:hover, .hials-nav-pills > li.active > a:focus {
	background-color: #7C1850;
	color: #fff;
	
}

ul.hials-nav-pills.nav-stacked {
	padding-top: 15px;
	padding-bottom: 15px;
}

ul.hials-nav-pills.nav-stacked>li+li {
    margin-top: 8px;
}

.nav>li>a {
	padding: 8px 15px;
}

/*************************************************/

.hials-subnav-pills ul {
    position: relative;
}

.hials-subnav-pills li + li {
    margin-left: 0;
    padding-left: 0;
}

.hials-subnav-pills > li.active > a, .hials-subnav-pills > li.active > a:hover, .hials-subnav-pills > li.active > a:focus {
    background-color: #7C1850;
    color: #fff;
}

.hials-subnav-pills > li.active > a:hover, .hials-subnav-pills > li.active > a:focus {
    text-decoration: underline;
}

.hials-subnav-pills > li > a {
    background-color: #fff;
    color: #333;
    border-radius: 0;
    text-decoration: none;
}

.hials-subnav-pills > li > a:hover, .hials-subnav-pills > li > a:focus {
    background-color: #ccc;
    text-decoration: underline;
}

.hials-subnav-pills  > li {

    margin-bottom: 15px;
    margin-right: 15px;
}

.hials-subnav-pills  > li .text {
	padding-right: 1em;
}

/*************************************************/

.hials-link-buttons {
    padding: 30px 15px;
    font-size: 20px;
    margin-bottom: 15px;
}

.hials-link-buttons > .nav-pills > li + li {
    margin-left: 0;
}

.hials-link-buttons li > a {
    color: #333;
    background-color: #fff;
    border-radius: 0;
    text-decoration: none;
    text-transform: uppercase;
    padding-right: 25px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.hials-link-buttons li > a:hover {
    background-color: #7C1850;
    color: #fff;
}

.hials-link-buttons li > a > span.glyphicon {
    color: #FDED00;
    float: right;
    position:absolute;
    right: 8px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.hials-link-buttons li > a > span.text {

}

.hials-link-buttons li {
    margin-bottom: 15px;
}

@media (min-width: 768px) {
    .hials-link-buttons li {
        margin-bottom: 0;
    }
}

/*************************************************/
/*** CAROUSEL ************************************/

.carousel-caption {
	text-shadow: none;
	/*background-color: rgba(86,86,86,0.8);*/
	background-color: rgba(0,0,0,0.6);*/
	right: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: left;
	padding-left: 30px;
	padding-bottom: 20px;
	padding-top: 0;
}

.carousel-caption p {
    font-size: 14px;
    padding-right: 25%;
}

.carousel-caption a {
	color: #fff;
	text-decoration: none;
}

.carousel-caption h3 {
	text-transform: uppercase;
	font-weight: 900;
	font-size: 24px;
}

.carousel-caption a:hover, .carousel-caption a:focus {
	text-decoration: underline;
}

.carousel-control, .carousel-control:hover, .carousel-control:focus {
	color: #FDED00;
	opacity: 1;
}

@media screen and (min-width: 768px) {
    .carousel-indicators {
        bottom: 10px;
    }
}

/*************************************************/
/*** THUMBNAIL************************************/

.thumbnail {
    padding: 0;
    margin-bottom: 15px;
    border: none;
    border-radius: none;
}

/*************************************************/
/**** NAV-LINKS **********************************/

.nav-links {
    list-style-type: none;
    display: table;
    padding-left: 15px;
}

.nav-links > li {
    float: left;
    border-right: 1px solid #565656;
    padding: 0 10px;
}

.nav-links > li:last-child {
    border-right: none;
    padding-right: 0;
}

.nav-links > li:first-child {
    padding-left: 0;
}

.nav-links > li > a:hover, .nav-links > li > a:focus {
    text-decoration: underline;
}


ul.links-center {
    margin: 0 auto;
}

@media (max-width: 767px) {
    #mainnav .nav-links {
        display: block;
    }
    
    #mainnav .nav-links > li {
        float: none;
        border: none;
        padding: 0;
    }
    
    #mainnav .nav-links > li > a {
        padding: 10px 10px;
        line-height: 20px;
        display: block;
        border-left: 5px solid #333;
        text-decoration: none;
    }

	#mainnav .nav-links > li > a:hover, .nav-links > li > a:focus {
        background-color: #565656;
        color: #fff;
        border-left: 5px solid #f1f1f1;
        text-decoration: none;
	}


}

#fagomraade-links .nav-links {
    padding: 25px 0;
    margin-bottom: 15px;
    font-size: 14px;
}

/*************************************************/
/*** PANEL ***************************************/

.panel-hials {
	border-radius: 0;
	
}

.panel-hials .panel-heading {
	font-size: 20px;
	
}

.panel-hials .panel-body {
	padding-top: 0;
}

.panel-body ul {
	list-style: none;
	padding-left: 0;
}

/*************************************************/

.panel-person-info {
    background-color: #fff;
    border-radius: 0;
}

.panel-person-info .person-image {
    width: 33.3333333%; margin-right: 15px;
}

.dummy-image {
	font-size: 6em;
	color: #565656;
}

.panel-person-info .dummy-image {
    width: 33.3333333%; margin-right: 15px;
    padding-bottom: 0.1em;
    padding-top: 0.1em;
    background-color: #f1f1f1;
}

@media (min-width: 768px) { 
	.panel-person-info .dummy-image {
	    font-size: 12em;
	}
}

.panel-person-info dl > dt {
    width: 20%;
}

/*************************************************/

ul.line-list {
	list-style: none;
	padding-left: 0;
}

ul.line-list li > a {
	display: block;
	padding: 8px;
}

.line-list li:nth-child(odd) {
	background-color: #fff;
}

.line-list li:nth-child(even) {
	background-color: #f1f1f1;
}

.education-search-result h2 {
	text-transform: none;
	color: #7C1850; 
}

/*************************************************/
/*** LEFTMENU ************************************/


/* Gammel venstremeny stil - fases ut */

ul.leftmenu {
    list-style-type: none;
    padding: 0;
}

ul.leftmenu > li {
    padding-bottom: 5px;
}

.leftmenu, .leftmenu > li > a {
    color: #333; 
    font-size: 14px;
    text-decoration: none;
}

.leftmenu > li > a:hover, .leftmenu > li > a:focus {
   text-decoration: underline;  
}

p.leftmenu {
    font-size: 36px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1.1;
}

/****************/ 

.leftmenu, .leftmenu-body li > a {
    color: #333; 
    font-size: 14px;
    text-decoration: none;
}

.leftmenu-heading {
    font-size: 24px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1.1;
}

.leftmenu-heading a {
    text-decoration: none;
    color: #7C1850; 
}

.leftmenu-heading a:hover,  .leftmenu-heading a:focus {
    text-transform: underline;
}

.leftmenu-body ul {
    list-style-type: none;
    padding: 0;
}

.leftmenu-body ul > li {
    padding-bottom: 5px;
}

.leftmenu-body li > a:hover, .leftmenu-body li > a:focus {
    text-decoration: underline;
}

.leftmenu-body ul ul {
	padding-left: 20px;
	padding-top: 5px;
}

.leftmenu-body li.active > a {
	color: #7C1850;
}

/*************************************************/
/* NAVBAR BUTTONS - SOCIAL/SEARCH ****************/

.hials-btn > li > a {
    border-radius: 0;
}

.hials-btn > li + li {
    margin-left: 0;
}

.btnSocial, .navbar-toggle {
    border-left: 1px solid #ccc;
    margin: 0;
    border-radius: 0;
}

#btnInsta > a {
    padding: 13px 14px;
}

#btnInsta > a:hover, #btnInsta > a:focus {
    background-image: url('../images/ext/insta-noice-1.png'), -webkit-gradient(linear, left top, left bottom, from(#517fa4), to(#306088));
    background-image: url('../images/ext/insta-noice-1.png'), -webkit-linear-gradient(top, #517fa4, #306088);
    background-image: url('../images/ext/insta-noice-1.png'), -moz-linear-gradient(top, #517fa4, #306088);
    background-image: url('../images/ext/insta-noice-1.png'), -o-linear-gradient(top, #517fa4, #306088);
    background-image: url('../images/ext/insta-noice-1.png'), -ms-linear-gradient(top, #517fa4, #306088);
    background-image: url('../images/ext/insta-noice-1.png'), linear-gradient(top, #517fa4, #306088);  
    background-color: #517fa4;
    color: #fff;
}

#btnFace > a {
    padding: 13px 18px;
}

#btnFace > a:hover, #btnFace > a:focus {
    background-color: #3a5795; /* Facebook-blue */
    color: #fff;
}

#btnTweet > a {
    padding: 13px 13px;
}

#btnTweet > a:hover, #btnTweet > a:focus {
    background-color: #55acee; /* Twitter-blue */
    color: #fff;
}

#btnSearch > a {
    padding: 13px 13px;
    background-color: #4d4d4d;
    color: #fff;
}

#btnSearch > a:hover, #btnSearch > a:focus {
    background-color: #7C1850;
}

#btnSearch .dropdown-menu {
    border-top: none;
}

.searchOptGroup {
    padding-left: 15px; 
    padding-right:15px;
}


@media (min-width: 768px) {
    .searchOptGroup {
        width: 75%; 
        margin-left:25%; 
        padding-left: 15px; 
        padding-right:15px;
    }
}

@media (min-width: 992px) {
    .searchOptGroup {
        width: 50%; 
        margin-left:50%; 
        padding-left: 15px; 
        padding-right:15px;
    }
}

#btnSearch fieldset > label {
    width: 100%;
    padding: 15px 0;
}

#btnSearchMobile {
    padding: 13px 14px;
}

#btnMenu {
    padding: 13px 15px;
}