body {
    font-size: 12px;
}

.navbar {
	border-radius: none;
}

.navbar #hials-extra-nav {
	font-size: 75%;
}

form.dropdown-menu {
	padding: 5px 5px;
}

.navbar-nav > li > a {
	padding: 10px 10px;
	line-height: inherit;
}